
* {box-sizing: border-box}

body {
     background-color: #E9967A;
     /*background-image: url("background.jpg");*/
     background-repeat: no-repeat;


}

/* Add padding to containers */
.container {
 /* padding: 16px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;*/
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;


}

fieldset{
  border: 1px solid rgb(0, 0, 0);
  width: 400px;
  margin: 0 auto;
  text-align: left;

}

form
{
    text-align: center;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #672E3B;
  color: white;
  padding: 5px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Set a style for the submit/login button */
.loginbtn {
  background-color: #672E3B;
  color: white;
  padding: 8px 8px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

/* Set a style for the submit/login button */
.cancelbtn {
  background-color: #672E3B;
  color: white;
  padding: 8px 8px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}